.w-5px {
    width: 5px;
}

.w-15px {
    width: 15px;
}

.w-25px {
    width: 25px;
}

.w-35px {
    width: 35px;
}

.w-45px {
    width: 45px;
}

.w-55px {
    width: 55px;
}

.w-65px {
    width: 65px;
}

.w-75px {
    width: 75px;
}

.w-85px {
    width: 85px;
}

.w-95px {
    width: 95px;
}

.w-0px {
    width: 0px;
}

.w-10px {
    width: 10px;
}

.w-20px {
    width: 20px;
}

.w-30px {
    width: 30px;
}

.w-40px {
    width: 40px;
}

.w-50px {
    width: 50px;
}

.w-60px {
    width: 60px;
}

.w-70px {
    width: 70px;
}

.w-80px {
    width: 80px;
}

.w-90px {
    width: 90px;
}

.w-100px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

.w-400px {
    width: 400px;
}

.w-500px {
    width: 500px;
}

.w-600px {
    width: 600px;
}

.w-700px {
    width: 700px;
}

.w-800px {
    width: 800px;
}

.w-900px {
    width: 900px;
}

.w-1000px {
    width: 1000px;
}

.w-150px {
    width: 150px;
}

.w-250px {
    width: 250px;
}

.w-350px {
    width: 350px;
}

.w-450px {
    width: 450px;
}

.w-550px {
    width: 550px;
}

.w-650px {
    width: 650px;
}

.w-750px {
    width: 750px;
}

.w-850px {
    width: 850px;
}

.w-950px {
    width: 950px;
}

.w-0 {
    width: 0%;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}




.h-5px {
    height: 5px;
}

.h-15px {
    height: 15px;
}

.h-25px {
    height: 25px;
}

.h-35px {
    height: 35px;
}

.h-45px {
    height: 45px;
}

.h-55px {
    height: 55px;
}

.h-65px {
    height: 65px;
}

.h-75px {
    height: 75px;
}

.h-85px {
    height: 85px;
}

.h-95px {
    height: 95px;
}

.h-0px {
    height: 0px;
}

.h-10px {
    height: 10px;
}

.h-20px {
    height: 20px;
}

.h-30px {
    height: 30px;
}

.h-40px {
    height: 40px;
}

.h-50px {
    height: 50px;
}

.h-60px {
    height: 60px;
}

.h-70px {
    height: 70px;
}

.h-80px {
    height: 80px;
}

.h-90px {
    height: 90px;
}

.h-100px {
    height: 100px;
}

.h-200px {
    height: 200px;
}

.h-300px {
    height: 300px;
}

.h-400px {
    height: 400px;
}

.h-500px {
    height: 500px;
}

.h-600px {
    height: 600px;
}

.h-700px {
    height: 700px;
}

.h-800px {
    height: 800px;
}

.h-900px {
    height: 900px;
}

.h-1000px {
    height: 1000px;
}

.h-150px {
    height: 150px;
}

.h-250px {
    height: 250px;
}

.h-350px {
    height: 350px;
}

.h-450px {
    height: 450px;
}

.h-550px {
    height: 550px;
}

.h-650px {
    height: 650px;
}

.h-750px {
    height: 750px;
}

.h-850px {
    height: 850px;
}

.h-950px {
    height: 950px;
}

.h-0 {
    height: 0%;
}

.h-5 {
    height: 5%;
}

.h-10 {
    height: 10%;
}

.h-15 {
    height: 15%;
}

.h-20 {
    height: 20%;
}

.h-25 {
    height: 25%;
}

.h-30 {
    height: 30%;
}

.h-35 {
    height: 35%;
}

.h-40 {
    height: 40%;
}

.h-45 {
    height: 45%;
}

.h-50 {
    height: 50%;
}

.h-55 {
    height: 55%;
}

.h-60 {
    height: 60%;
}

.h-65 {
    height: 65%;
}

.h-70 {
    height: 70%;
}

.h-75 {
    height: 75%;
}

.h-80 {
    height: 80%;
}

.h-85 {
    height: 85%;
}

.h-90 {
    height: 90%;
}

.h-95 {
    height: 95%;
}

.h-100 {
    height: 100%;
}





.mb-5px {
    margin-bottom: 5px;
}

.mb-15px {
    margin-bottom: 15px;
}

.mb-25px {
    margin-bottom: 25px;
}

.mb-35px {
    margin-bottom: 35px;
}

.mb-45px {
    margin-bottom: 45px;
}

.mb-55px {
    margin-bottom: 55px;
}

.mb-65px {
    margin-bottom: 65px;
}

.mb-75px {
    margin-bottom: 75px;
}

.mb-85px {
    margin-bottom: 85px;
}

.mb-95px {
    margin-bottom: 95px;
}

.mb-0px {
    margin-bottom: 0px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-50px {
    margin-bottom: 50px;
}

.mb-60px {
    margin-bottom: 60px;
}

.mb-70px {
    margin-bottom: 70px;
}

.mb-80px {
    margin-bottom: 80px;
}

.mb-90px {
    margin-bottom: 90px;
}

.mb-100px {
    margin-bottom: 100px;
}

.mb-5px {
    margin-bottom: 5px;
}

.mb-15px {
    margin-bottom: 15px;
}

.mb-25px {
    margin-bottom: 25px;
}

.mb-35px {
    margin-bottom: 35px;
}

.mb-45px {
    margin-bottom: 45px;
}

.mb-55px {
    margin-bottom: 55px;
}

.mb-65px {
    margin-bottom: 65px;
}

.mb-75px {
    margin-bottom: 75px;
}

.mb-85px {
    margin-bottom: 85px;
}

.mb-95px {
    margin-bottom: 95px;
}

.mb-0px {
    margin-bottom: 0px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-50px {
    margin-bottom: 50px;
}

.mb-60px {
    margin-bottom: 60px;
}

.mb-70px {
    margin-bottom: 70px;
}

.mb-80px {
    margin-bottom: 80px;
}

.mb-90px {
    margin-bottom: 90px;
}

.mb-100px {
    margin-bottom: 100px;
}




.mt-5px {
    margin-top: 5px;
}

.mt-15px {
    margin-top: 15px;
}

.mt-25px {
    margin-top: 25px;
}

.mt-35px {
    margin-top: 35px;
}

.mt-45px {
    margin-top: 45px;
}

.mt-55px {
    margin-top: 55px;
}

.mt-65px {
    margin-top: 65px;
}

.mt-75px {
    margin-top: 75px;
}

.mt-85px {
    margin-top: 85px;
}

.mt-95px {
    margin-top: 95px;
}

.mt-0px {
    margin-top: 0px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-20px {
    margin-top: 20px;
}

.mt-30px {
    margin-top: 30px;
}

.mt-40px {
    margin-top: 40px;
}

.mt-50px {
    margin-top: 50px;
}

.mt-60px {
    margin-top: 60px;
}

.mt-70px {
    margin-top: 70px;
}

.mt-80px {
    margin-top: 80px;
}

.mt-90px {
    margin-top: 90px;
}

.mt-100px {
    margin-top: 100px;
}

.mt-5px {
    margin-top: 5px;
}

.mt-15px {
    margin-top: 15px;
}

.mt-25px {
    margin-top: 25px;
}

.mt-35px {
    margin-top: 35px;
}

.mt-45px {
    margin-top: 45px;
}

.mt-55px {
    margin-top: 55px;
}

.mt-65px {
    margin-top: 65px;
}

.mt-75px {
    margin-top: 75px;
}

.mt-85px {
    margin-top: 85px;
}

.mt-95px {
    margin-top: 95px;
}

.mt-0px {
    margin-top: 0px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-20px {
    margin-top: 20px;
}

.mt-30px {
    margin-top: 30px;
}

.mt-40px {
    margin-top: 40px;
}

.mt-50px {
    margin-top: 50px;
}

.mt-60px {
    margin-top: 60px;
}

.mt-70px {
    margin-top: 70px;
}

.mt-80px {
    margin-top: 80px;
}

.mt-90px {
    margin-top: 90px;
}

.mt-100px {
    margin-top: 100px;
}





.ml-5px {
    margin-left: 5px;
}

.ml-15px {
    margin-left: 15px;
}

.ml-25px {
    margin-left: 25px;
}

.ml-35px {
    margin-left: 35px;
}

.ml-45px {
    margin-left: 45px;
}

.ml-55px {
    margin-left: 55px;
}

.ml-65px {
    margin-left: 65px;
}

.ml-75px {
    margin-left: 75px;
}

.ml-85px {
    margin-left: 85px;
}

.ml-95px {
    margin-left: 95px;
}

.ml-0px {
    margin-left: 0px;
}

.ml-10px {
    margin-left: 10px;
}

.ml-20px {
    margin-left: 20px;
}

.ml-30px {
    margin-left: 30px;
}

.ml-40px {
    margin-left: 40px;
}

.ml-50px {
    margin-left: 50px;
}

.ml-60px {
    margin-left: 60px;
}

.ml-70px {
    margin-left: 70px;
}

.ml-80px {
    margin-left: 80px;
}

.ml-90px {
    margin-left: 90px;
}

.ml-100px {
    margin-left: 100px;
}

.ml-5px {
    margin-left: 5px;
}

.ml-15px {
    margin-left: 15px;
}

.ml-25px {
    margin-left: 25px;
}

.ml-35px {
    margin-left: 35px;
}

.ml-45px {
    margin-left: 45px;
}

.ml-55px {
    margin-left: 55px;
}

.ml-65px {
    margin-left: 65px;
}

.ml-75px {
    margin-left: 75px;
}

.ml-85px {
    margin-left: 85px;
}

.ml-95px {
    margin-left: 95px;
}

.ml-0px {
    margin-left: 0px;
}

.ml-10px {
    margin-left: 10px;
}

.ml-20px {
    margin-left: 20px;
}

.ml-30px {
    margin-left: 30px;
}

.ml-40px {
    margin-left: 40px;
}

.ml-50px {
    margin-left: 50px;
}

.ml-60px {
    margin-left: 60px;
}

.ml-70px {
    margin-left: 70px;
}

.ml-80px {
    margin-left: 80px;
}

.ml-90px {
    margin-left: 90px;
}

.ml-100px {
    margin-left: 100px;
}





.mr-5px {
    margin-right: 5px;
}

.mr-15px {
    margin-right: 15px;
}

.mr-25px {
    margin-right: 25px;
}

.mr-35px {
    margin-right: 35px;
}

.mr-45px {
    margin-right: 45px;
}

.mr-55px {
    margin-right: 55px;
}

.mr-65px {
    margin-right: 65px;
}

.mr-75px {
    margin-right: 75px;
}

.mr-85px {
    margin-right: 85px;
}

.mr-95px {
    margin-right: 95px;
}

.mr-0px {
    margin-right: 0px;
}

.mr-10px {
    margin-right: 10px;
}

.mr-20px {
    margin-right: 20px;
}

.mr-30px {
    margin-right: 30px;
}

.mr-40px {
    margin-right: 40px;
}

.mr-50px {
    margin-right: 50px;
}

.mr-60px {
    margin-right: 60px;
}

.mr-70px {
    margin-right: 70px;
}

.mr-80px {
    margin-right: 80px;
}

.mr-90px {
    margin-right: 90px;
}

.mr-100px {
    margin-right: 100px;
}

.mr-5px {
    margin-right: 5px;
}

.mr-15px {
    margin-right: 15px;
}

.mr-25px {
    margin-right: 25px;
}

.mr-35px {
    margin-right: 35px;
}

.mr-45px {
    margin-right: 45px;
}

.mr-55px {
    margin-right: 55px;
}

.mr-65px {
    margin-right: 65px;
}

.mr-75px {
    margin-right: 75px;
}

.mr-85px {
    margin-right: 85px;
}

.mr-95px {
    margin-right: 95px;
}

.mr-0px {
    margin-right: 0px;
}

.mr-10px {
    margin-right: 10px;
}

.mr-20px {
    margin-right: 20px;
}

.mr-30px {
    margin-right: 30px;
}

.mr-40px {
    margin-right: 40px;
}

.mr-50px {
    margin-right: 50px;
}

.mr-60px {
    margin-right: 60px;
}

.mr-70px {
    margin-right: 70px;
}

.mr-80px {
    margin-right: 80px;
}

.mr-90px {
    margin-right: 90px;
}

.mr-100px {
    margin-right: 100px;
}




.mt--5px {
    margin-top: -5px;
}

.mt--10px {
    margin-top: -10px;
}

.mt--15px {
    margin-top: -15px;
}

.mt--20px {
    margin-top: -20px;
}

.mt--25px {
    margin-top: -25px;
}

.mt--30px {
    margin-top: -30px;
}

.mt--35px {
    margin-top: -35px;
}

.mt--40px {
    margin-top: -40px;
}

.mt--45px {
    margin-top: -45px;
}

.mt--50px {
    margin-top: -50px;
}

.mb--5px {
    margin-bottom: -5px;
}

.mb--10px {
    margin-bottom: -10px;
}

.mb--15px {
    margin-bottom: -15px;
}

.mb--20px {
    margin-bottom: -20px;
}

.mb--25px {
    margin-bottom: -25px;
}

.mb--30px {
    margin-bottom: -30px;
}

.mb--35px {
    margin-bottom: -35px;
}

.mb--40px {
    margin-bottom: -40px;
}

.mb--45px {
    margin-bottom: -45px;
}

.mb--50px {
    margin-bottom: -50px;
}

.ml--5px {
    margin-left: -5px;
}

.ml--10px {
    margin-left: -10px;
}

.ml--15px {
    margin-left: -15px;
}

.ml--20px {
    margin-left: -20px;
}

.ml--25px {
    margin-left: -25px;
}

.ml--30px {
    margin-left: -30px;
}

.ml--35px {
    margin-left: -35px;
}

.ml--40px {
    margin-left: -40px;
}

.ml--45px {
    margin-left: -45px;
}

.ml--50px {
    margin-left: -50px;
}

.mr--5px {
    margin-right: -5px;
}

.mr--10px {
    margin-right: -10px;
}

.mr--15px {
    margin-right: -15px;
}

.mr--20px {
    margin-right: -20px;
}

.mr--25px {
    margin-right: -25px;
}

.mr--30px {
    margin-right: -30px;
}

.mr--35px {
    margin-right: -35px;
}

.mr--40px {
    margin-right: -40px;
}

.mr--45px {
    margin-right: -45px;
}

.mr--50px {
    margin-right: -50px;
}






.pb-5px {
    padding-bottom: 5px;
}

.pb-15px {
    padding-bottom: 15px;
}

.pb-25px {
    padding-bottom: 25px;
}

.pb-35px {
    padding-bottom: 35px;
}

.pb-45px {
    padding-bottom: 45px;
}

.pb-55px {
    padding-bottom: 55px;
}

.pb-65px {
    padding-bottom: 65px;
}

.pb-75px {
    padding-bottom: 75px;
}

.pb-85px {
    padding-bottom: 85px;
}

.pb-95px {
    padding-bottom: 95px;
}

.pb-0px {
    padding-bottom: 0px;
}

.pb-10px {
    padding-bottom: 10px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-30px {
    padding-bottom: 30px;
}

.pb-40px {
    padding-bottom: 40px;
}

.pb-50px {
    padding-bottom: 50px;
}

.pb-60px {
    padding-bottom: 60px;
}

.pb-70px {
    padding-bottom: 70px;
}

.pb-80px {
    padding-bottom: 80px;
}

.pb-90px {
    padding-bottom: 90px;
}

.pb-100px {
    padding-bottom: 100px;
}

.pb-5px {
    padding-bottom: 5px;
}

.pb-15px {
    padding-bottom: 15px;
}

.pb-25px {
    padding-bottom: 25px;
}

.pb-35px {
    padding-bottom: 35px;
}

.pb-45px {
    padding-bottom: 45px;
}

.pb-55px {
    padding-bottom: 55px;
}

.pb-65px {
    padding-bottom: 65px;
}

.pb-75px {
    padding-bottom: 75px;
}

.pb-85px {
    padding-bottom: 85px;
}

.pb-95px {
    padding-bottom: 95px;
}

.pb-0px {
    padding-bottom: 0px;
}

.pb-10px {
    padding-bottom: 10px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-30px {
    padding-bottom: 30px;
}

.pb-40px {
    padding-bottom: 40px;
}

.pb-50px {
    padding-bottom: 50px;
}

.pb-60px {
    padding-bottom: 60px;
}

.pb-70px {
    padding-bottom: 70px;
}

.pb-80px {
    padding-bottom: 80px;
}

.pb-90px {
    padding-bottom: 90px;
}

.pb-100px {
    padding-bottom: 100px;
}





.pt-5px {
    padding-top: 5px;
}

.pt-15px {
    padding-top: 15px;
}

.pt-25px {
    padding-top: 25px;
}

.pt-35px {
    padding-top: 35px;
}

.pt-45px {
    padding-top: 45px;
}

.pt-55px {
    padding-top: 55px;
}

.pt-65px {
    padding-top: 65px;
}

.pt-75px {
    padding-top: 75px;
}

.pt-85px {
    padding-top: 85px;
}

.pt-95px {
    padding-top: 95px;
}

.pt-0px {
    padding-top: 0px;
}

.pt-10px {
    padding-top: 10px;
}

.pt-20px {
    padding-top: 20px;
}

.pt-30px {
    padding-top: 30px;
}

.pt-40px {
    padding-top: 40px;
}

.pt-50px {
    padding-top: 50px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-70px {
    padding-top: 70px;
}

.pt-80px {
    padding-top: 80px;
}

.pt-90px {
    padding-top: 90px;
}

.pt-100px {
    padding-top: 100px;
}

.pt-5px {
    padding-top: 5px;
}

.pt-15px {
    padding-top: 15px;
}

.pt-25px {
    padding-top: 25px;
}

.pt-35px {
    padding-top: 35px;
}

.pt-45px {
    padding-top: 45px;
}

.pt-55px {
    padding-top: 55px;
}

.pt-65px {
    padding-top: 65px;
}

.pt-75px {
    padding-top: 75px;
}

.pt-85px {
    padding-top: 85px;
}

.pt-95px {
    padding-top: 95px;
}

.pt-0px {
    padding-top: 0px;
}

.pt-10px {
    padding-top: 10px;
}

.pt-20px {
    padding-top: 20px;
}

.pt-30px {
    padding-top: 30px;
}

.pt-40px {
    padding-top: 40px;
}

.pt-50px {
    padding-top: 50px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-70px {
    padding-top: 70px;
}

.pt-80px {
    padding-top: 80px;
}

.pt-90px {
    padding-top: 90px;
}

.pt-100px {
    padding-top: 100px;
}





.pl-5px {
    padding-left: 5px;
}

.pl-15px {
    padding-left: 15px;
}

.pl-25px {
    padding-left: 25px;
}

.pl-35px {
    padding-left: 35px;
}

.pl-45px {
    padding-left: 45px;
}

.pl-55px {
    padding-left: 55px;
}

.pl-65px {
    padding-left: 65px;
}

.pl-75px {
    padding-left: 75px;
}

.pl-85px {
    padding-left: 85px;
}

.pl-95px {
    padding-left: 95px;
}

.pl-0px {
    padding-left: 0px;
}

.pl-10px {
    padding-left: 10px;
}

.pl-20px {
    padding-left: 20px;
}

.pl-30px {
    padding-left: 30px;
}

.pl-40px {
    padding-left: 40px;
}

.pl-50px {
    padding-left: 50px;
}

.pl-60px {
    padding-left: 60px;
}

.pl-70px {
    padding-left: 70px;
}

.pl-80px {
    padding-left: 80px;
}

.pl-90px {
    padding-left: 90px;
}

.pl-100px {
    padding-left: 100px;
}

.pl-5px {
    padding-left: 5px;
}

.pl-15px {
    padding-left: 15px;
}

.pl-25px {
    padding-left: 25px;
}

.pl-35px {
    padding-left: 35px;
}

.pl-45px {
    padding-left: 45px;
}

.pl-55px {
    padding-left: 55px;
}

.pl-65px {
    padding-left: 65px;
}

.pl-75px {
    padding-left: 75px;
}

.pl-85px {
    padding-left: 85px;
}

.pl-95px {
    padding-left: 95px;
}

.pl-0px {
    padding-left: 0px;
}

.pl-10px {
    padding-left: 10px;
}

.pl-20px {
    padding-left: 20px;
}

.pl-30px {
    padding-left: 30px;
}

.pl-40px {
    padding-left: 40px;
}

.pl-50px {
    padding-left: 50px;
}

.pl-60px {
    padding-left: 60px;
}

.pl-70px {
    padding-left: 70px;
}

.pl-80px {
    padding-left: 80px;
}

.pl-90px {
    padding-left: 90px;
}

.pl-100px {
    padding-left: 100px;
}





.pr-5px {
    padding-right: 5px;
}

.pr-15px {
    padding-right: 15px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-35px {
    padding-right: 35px;
}

.pr-45px {
    padding-right: 45px;
}

.pr-55px {
    padding-right: 55px;
}

.pr-65px {
    padding-right: 65px;
}

.pr-75px {
    padding-right: 75px;
}

.pr-85px {
    padding-right: 85px;
}

.pr-95px {
    padding-right: 95px;
}

.pr-0px {
    padding-right: 0px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-30px {
    padding-right: 30px;
}

.pr-40px {
    padding-right: 40px;
}

.pr-50px {
    padding-right: 50px;
}

.pr-60px {
    padding-right: 60px;
}

.pr-70px {
    padding-right: 70px;
}

.pr-80px {
    padding-right: 80px;
}

.pr-90px {
    padding-right: 90px;
}

.pr-100px {
    padding-right: 100px;
}

.pr-5px {
    padding-right: 5px;
}

.pr-15px {
    padding-right: 15px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-35px {
    padding-right: 35px;
}

.pr-45px {
    padding-right: 45px;
}

.pr-55px {
    padding-right: 55px;
}

.pr-65px {
    padding-right: 65px;
}

.pr-75px {
    padding-right: 75px;
}

.pr-85px {
    padding-right: 85px;
}

.pr-95px {
    padding-right: 95px;
}

.pr-0px {
    padding-right: 0px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-30px {
    padding-right: 30px;
}

.pr-40px {
    padding-right: 40px;
}

.pr-50px {
    padding-right: 50px;
}

.pr-60px {
    padding-right: 60px;
}

.pr-70px {
    padding-right: 70px;
}

.pr-80px {
    padding-right: 80px;
}

.pr-90px {
    padding-right: 90px;
}

.pr-100px {
    padding-right: 100px;
}




.py-5px {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-25px {
    padding-top: 25px;
    padding-bottom: 25px;
}

.py-35px {
    padding-top: 35px;
    padding-bottom: 35px;
}

.py-45px {
    padding-top: 45px;
    padding-bottom: 45px;
}

.py-55px {
    padding-top: 55px;
    padding-bottom: 55px;
}

.py-65px {
    padding-top: 65px;
    padding-bottom: 65px;
}

.py-75px {
    padding-top: 75px;
    padding-bottom: 75px;
}

.py-85px {
    padding-top: 85px;
    padding-bottom: 85px;
}

.py-95px {
    padding-top: 95px;
    padding-bottom: 95px;
}

.py-0px {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-30px {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-40px {
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-50px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.py-60px {
    padding-top: 60px;
    padding-bottom: 60px;
}

.py-70px {
    padding-top: 70px;
    padding-bottom: 70px;
}

.py-80px {
    padding-top: 80px;
    padding-bottom: 80px;
}

.py-90px {
    padding-top: 90px;
    padding-bottom: 90px;
}

.py-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}





.my-5px {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-15px {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-25px {
    margin-top: 25px;
    margin-bottom: 25px;
}

.my-35px {
    margin-top: 35px;
    margin-bottom: 35px;
}

.my-45px {
    margin-top: 45px;
    margin-bottom: 45px;
}

.my-55px {
    margin-top: 55px;
    margin-bottom: 55px;
}

.my-65px {
    margin-top: 65px;
    margin-bottom: 65px;
}

.my-75px {
    margin-top: 75px;
    margin-bottom: 75px;
}

.my-85px {
    margin-top: 85px;
    margin-bottom: 85px;
}

.my-95px {
    margin-top: 95px;
    margin-bottom: 95px;
}

.my-0px {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-30px {
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-40px {
    margin-top: 40px;
    margin-bottom: 40px;
}

.my-50px {
    margin-top: 50px;
    margin-bottom: 50px;
}

.my-60px {
    margin-top: 60px;
    margin-bottom: 60px;
}

.my-70px {
    margin-top: 70px;
    margin-bottom: 70px;
}

.my-80px {
    margin-top: 80px;
    margin-bottom: 80px;
}

.my-90px {
    margin-top: 90px;
    margin-bottom: 90px;
}

.my-100px {
    margin-top: 100px;
    margin-bottom: 100px;
}




.px-5px {
    padding-right: 5px;
    padding-left: 5px;
}

.px-15px {
    padding-right: 15px;
    padding-left: 15px;
}

.px-25px {
    padding-right: 25px;
    padding-left: 25px;
}

.px-35px {
    padding-right: 35px;
    padding-left: 35px;
}

.px-45px {
    padding-right: 45px;
    padding-left: 45px;
}

.px-55px {
    padding-right: 55px;
    padding-left: 55px;
}

.px-65px {
    padding-right: 65px;
    padding-left: 65px;
}

.px-75px {
    padding-right: 75px;
    padding-left: 75px;
}

.px-85px {
    padding-right: 85px;
    padding-left: 85px;
}

.px-95px {
    padding-right: 95px;
    padding-left: 95px;
}

.px-0px {
    padding-right: 0px;
    padding-left: 0px;
}

.px-10px {
    padding-right: 10px;
    padding-left: 10px;
}

.px-20px {
    padding-right: 20px;
    padding-left: 20px;
}

.px-30px {
    padding-right: 30px;
    padding-left: 30px;
}

.px-40px {
    padding-right: 40px;
    padding-left: 40px;
}

.px-50px {
    padding-right: 50px;
    padding-left: 50px;
}

.px-60px {
    padding-right: 60px;
    padding-left: 60px;
}

.px-70px {
    padding-right: 70px;
    padding-left: 70px;
}

.px-80px {
    padding-right: 80px;
    padding-left: 80px;
}

.px-90px {
    padding-right: 90px;
    padding-left: 90px;
}

.px-100px {
    padding-right: 100px;
    padding-left: 100px;
}





.mx-5px {
    margin-right: 5px;
    margin-left: 5px;
}

.mx-15px {
    margin-right: 15px;
    margin-left: 15px;
}

.mx-25px {
    margin-right: 25px;
    margin-left: 25px;
}

.mx-35px {
    margin-right: 35px;
    margin-left: 35px;
}

.mx-45px {
    margin-right: 45px;
    margin-left: 45px;
}

.mx-55px {
    margin-right: 55px;
    margin-left: 55px;
}

.mx-65px {
    margin-right: 65px;
    margin-left: 65px;
}

.mx-75px {
    margin-right: 75px;
    margin-left: 75px;
}

.mx-85px {
    margin-right: 85px;
    margin-left: 85px;
}

.mx-95px {
    margin-right: 95px;
    margin-left: 95px;
}

.mx-0px {
    margin-right: 0px;
    margin-left: 0px;
}

.mx-10px {
    margin-right: 10px;
    margin-left: 10px;
}

.mx-20px {
    margin-right: 20px;
    margin-left: 20px;
}

.mx-30px {
    margin-right: 30px;
    margin-left: 30px;
}

.mx-40px {
    margin-right: 40px;
    margin-left: 40px;
}

.mx-50px {
    margin-right: 50px;
    margin-left: 50px;
}

.mx-60px {
    margin-right: 60px;
    margin-left: 60px;
}

.mx-70px {
    margin-right: 70px;
    margin-left: 70px;
}

.mx-80px {
    margin-right: 80px;
    margin-left: 80px;
}

.mx-90px {
    margin-right: 90px;
    margin-left: 90px;
}

.mx-100px {
    margin-right: 100px;
    margin-left: 100px;
}



.z-3 {
    z-index: 3;
}

.z--1 {
    z-index: -1;
}

.z--9 {
    z-index: -9;
}

.z--99 {
    z-index: -99;
}

.z-9 {
    z-index: 9;
}

.z-99 {
    z-index: 99;
}

.z-999 {
    z-index: 999;
}

.rounded-20 {
    border-radius: 20px !important;
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-5px {
    border-radius: 5px !important;
}

.bg-top {
    background-position: top;
}

.bg-contain {
    background-size: contain;
}

.w-max {
    width: max-content;
}

.h-max {
    height: max-content;
}